.parallax {
    background-image: url("images/home_bg.jpeg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
  margin-top: 3rem;
}

.card {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.navbar {
  padding: 1rem;
}

.wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 5rem);
}

.questions_font {
  font-size: 1.2rem;
}

.heading_font {
  font-size: 1.5rem;
}

.alert {
  top: -48px;
}

.footer {
  background-color: #f7f7f9;
  padding-top: 1rem;
  padding-bottom: .2rem;
}
